<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
		<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    <title>Ninestar</title>
	<link rel="stylesheet" href="reset/reset.css">
	<link rel="stylesheet" href="css/style.css">
  </head>
  <body>
	<div class="top">
	    <div class="container-fluid">
		    <div class="topnav d-flex justify-content-around pt-3 pb-3 shadow-sm bg-body rounded">
				<div class="logo d-flex align-items-center justify-content-center">		
				    <a class="navbar-brand" href="#">NINESTAR</a>
				</div>
				<div class="nav">		
				    <nav class="navbar navbar-expand-lg navbar-light">
					  <div class="container-fluid">
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						  <span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavDropdown">
						  <ul class="navbar-nav">
							<li class="nav-item">
							  <a class="nav-link active px-3" aria-current="page" href="#" style="color:#eb5d1e;">Home</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link px-3 alink" href="#">About us</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link px-3 alink" href="#">Services</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link px-3 alink" href="#">Portfolio</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link px-3 alink" href="#">Team</a>
							</li>
							<li class="nav-item dropdown">
							  <a class="nav-link dropdown-toggle px-3 alink" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Dropdown link
							  </a>
							  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" href="#">Action</a></li>
								<li><a class="dropdown-item" href="#">Another action</a></li>
								<li><a class="dropdown-item" href="#">Something else here</a></li>
							  </ul>
							</li>
							<li class="nav-item px-3">
							  <a class="nav-link px-3 alink" href="#">Contact</a>
							</li>
							<button type="button" class="btn btn-primary gs">Get Started</button>
						  </ul>
						</div>
					  </div>
					</nav>
				
				</div>
			</div>
	    </div>
	</div>
	<div class="home">
	    <div class="container">
		    <div class="row">
				<div class="col d-flex align-items-center justify-content-center col-sm-12 col-md-12 col-lg-6">
				    <div class="homep">
						<h1>Bettter digital experience with Ninestars</h1>
						<h2>We are team of talented designers making websites with Bootstrap</h2>
						<button type="button" class="btn btn-primary gs mt-4">Get Started</button>
					</div>	
				</div>
				<div class="col-sm-12 col-md-12 col-lg-6 homeimg">
			        <img src="image/hero-img.svg" class="img-fluid animated" alt="">
				</div>
			</div>	
	    </div>
	</div>
	<div class="about">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-12 col-md-12 col-lg-6">
	                <img src="image/about-img.svg" class="img-fluid animated">
				</div>
				<div class="col-sm-12 col-md-12 col-lg-6">
				    <div class="abtp">
						<div class="row mt-2">
							<h1>Voluptatem dignissimos provident quasi</h1>
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit</p>
						</div>
						<div class="row mt-2">
							<div class="col-sm-12 col-md-6 col-lg-6 mt-3">
							    <iconify-icon icon="bx:receipt"></iconify-icon>
								<h2>Corporis voluptates sit</h2>
								<p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
							</div>
							<div class="col-sm-12 col-md-6 col-lg-6 mt-3">
							    <iconify-icon icon="bx:cube-alt"></iconify-icon>
								<h2>Ullamco laboris nisi</h2>
								<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
							</div>
						</div>
					</div>
				</div>
	        </div>
	    </div>
	</div>
	<div class="service">
	    <div class="container">
				<div class="ser">
					<h2>Services</h2>
					<h1>Check out the great services we offer</h1>
				</div>
			
			<div class="row mt-5">
				<div class="col-sm-12 col-md-6 col-lg-3 mt-3">
					<div class="card s1">
						<iconify-icon icon="icon-park-outline:dribble" class="pt-3"></iconify-icon>
						<h3 class="mt-3">Lorem Ipsum</h3>
						<p class="mt-3">Voluptatum dele niti atque corrupti quos dolores et quas moles tias excep turisint occae cati </p>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 mt-3">
					<div class="card s1">
						<iconify-icon icon="akar-icons:file" class="pt-3"></iconify-icon>
						<h3 class="mt-3">Sed ut perspiciatis</h3>
						<p class="mt-3">Duis aute irure dolor  in
						 reprehend erit in volup tate velit eu fugiat nulla atque corrupti dolores  </p>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 mt-3">
					<div class="card s1">
						<iconify-icon icon="bx:tachometer" class="pt-3"></iconify-icon>
						<h3 class="mt-3">Magni Dolores</h3>
						<p class="mt-3">Excepteur sint occae cat cupi datat non proident, sunt in culpa qui officia dese runt mollit anim
						</p>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 mt-3">
					<div class="card s1">
						<iconify-icon icon="bx:world" class="pt-3"></iconify-icon>
						<h3 class="mt-3">Nemo Enim</h3>
						<p class="mt-3">At vero eos et accusamus et iusto odio dignis simos ducimus qui blan ditiis praes entium voluptatum</p>
					</div>
				</div>
			</div>
		
	    </div>
	</div>
	<div class="portfolio">
	    <div class="container">
	        <div class="ser">
			    <h2>Portfolio</h2>
				<h1>Check out our beautifull portfolio</h1>
			</div>
			<div class="pb">
			    <a href="#" style="color:#eb5d1e;">All</a>
				<a href="#">App</a>
				<a href="#">Card</a>
				<a href="#">Web</a>
			</div>
			<div class="web">
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-4">
						<div class="web1">
						    <img src="image/portfolio-1.jpg">
								<div class="folio">
									<iconify-icon icon="bi:plus"></iconify-icon>
									<iconify-icon icon="bi:link"></iconify-icon>
									<h3>App 1</h3>
									<h5>App</h5>
								</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-4">
						<div class="web1">
							<img src="image/portfolio-2.jpg">
								<div class="folio">	
									<iconify-icon icon="bi:plus"></iconify-icon>
									<iconify-icon icon="bi:link"></iconify-icon>
									<h3>Web 3</h3>
									<h5>Web</h5>
								</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-4">
						<div class="web1">
							<img src="image/portfolio-3.jpg">
								<div class="folio">
									<iconify-icon icon="bi:plus"></iconify-icon>
									<iconify-icon icon="bi:link"></iconify-icon>
									<h3>App 2</h3>
									<h5>App</h5>	
								</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-4">
						<div class="web1">
							<img src="image/portfolio-4.jpg">
								<div class="folio">
									<iconify-icon icon="bi:plus"></iconify-icon>
									<iconify-icon icon="bi:link"></iconify-icon>
									<h3>Card 2</h3>
									<h5>card</h5>	
								</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-4">
						<div class="web1">
							<img src="image/portfolio-5.jpg">
								<div class="folio">
									<iconify-icon icon="bi:plus"></iconify-icon>
									<iconify-icon icon="bi:link"></iconify-icon>
									<h3>Web 2</h3>
									<h5>Web</h5>	
								</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-4">
						<div class="web1">
							<img src="image/portfolio-6.jpg">
								<div class="folio">
									<iconify-icon icon="bi:plus"></iconify-icon>
									<iconify-icon icon="bi:link"></iconify-icon>
									<h3>App 3</h3>
									<h5>App</h5>
								</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-4">
						<div class="web1">
							<img src="image/portfolio-7.jpg">
								<div class="folio">
									<iconify-icon icon="bi:plus"></iconify-icon>
									<iconify-icon icon="bi:link"></iconify-icon>
									<h3>Card 1</h3>
									<h5>Card</h5>	
								</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-4">
						<div class="web1">
							<img src="image/portfolio-8.jpg">
								<div class="folio">
									<iconify-icon icon="bi:plus"></iconify-icon>
									<iconify-icon icon="bi:link"></iconify-icon>
									<h3>Card 3</h3>
									<h5>Card </h5>	
								</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-4">
						<div class="web1">
							<img src="image/portfolio-9.jpg">
								<div class="folio">
									<iconify-icon icon="bi:plus"></iconify-icon>
									<iconify-icon icon="bi:link"></iconify-icon>
									<h3>Web 3</h3>
									<h5>Web</h5>	
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="faq">
	    <div class="container">
	        <div class="ser">
				<h2>Services</h2>
				<h1>Check out the great services we offer</h1>
			</div>
	        <div class="ques">
					<div class="accordion accordion-flush mt-5" id="accordionFlushExample">
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-headingOne">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
							Non consectetur a erat nam at lectus urna duis?
							</button>
							</h2>
							<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body">
									Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-headingTwo">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
							Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
							</button>
							</h2>
							<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body">
									Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-headingThree">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
							Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?
							</button>
							</h2>
							<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body">
									Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-headingfour">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
							Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
							</button>
							</h2>
							<div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body">
									Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-headingfive">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
							Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
							</button>
							</h2>
							<div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingfive" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body">
									Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header" id="flush-headingsix">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
							Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor?
							</button>
							</h2>
							<div id="flush-collapsesix" class="accordion-collapse collapse" aria-labelledby="flush-headingsix" data-bs-parent="#accordionFlushExample">
								<div class="accordion-body">
									Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
								</div>
							</div>
						</div>
					</div>
				</div>
	    </div>
	</div>
	<div class="team">
	    <div class="container">
	        <div class="ser">
				<h2>Team</h2>
				<h1>Our team is always here to help</h1>
			</div> 
            <div class="row mt-5">
                <div class="col-sm-12 col-md-6 col-lg-3 mt-3">
				    <div class="tm">
				       <img src="image/team-1.jpg" width="100%;">
						<div class="teaminfo">
							<div class="teamname">
								<h1>Walter white</h1>
								<p><i>Chief Executive Officer</i></p>
							</div>
						    <div class="teamicon">
								<iconify-icon icon="akar-icons:twitter-fill"></iconify-icon>
								<iconify-icon icon="akar-icons:facebook-fill"></iconify-icon>
								<iconify-icon icon="akar-icons:instagram-fill"></iconify-icon>
								<iconify-icon icon="akar-icons:linkedin-fill"></iconify-icon>
							</div>
						</div>
				    </div>	
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 mt-3">
				    <div class="tm">
				        <img src="image/team-2.jpg" width="100%;">
						<div class="teaminfo">
							<div class="teamname">
								<h1>Sarah Johnson</h1>
								<p>Product manager</p>
							</div>
						    <div class="teamicon">
								<iconify-icon icon="akar-icons:twitter-fill"></iconify-icon>
								<iconify-icon icon="akar-icons:facebook-fill"></iconify-icon>
								<iconify-icon icon="akar-icons:instagram-fill"></iconify-icon>
								<iconify-icon icon="akar-icons:linkedin-fill"></iconify-icon>
							</div>
						</div>
					</div>
                </div>
				<div class="col-sm-12 col-md-6 col-lg-3 mt-3">
				    <div class="tm">
				        <img src="image/team-3.jpg" width="100%;">
						<div class="teaminfo">
							<div class="teamname">
								<h1>Sarah Johnson</h1>
								<p>Product manager</p>
							</div>
						    <div class="teamicon">
								<iconify-icon icon="akar-icons:twitter-fill"></iconify-icon>
								<iconify-icon icon="akar-icons:facebook-fill"></iconify-icon>
								<iconify-icon icon="akar-icons:instagram-fill"></iconify-icon>
								<iconify-icon icon="akar-icons:linkedin-fill"></iconify-icon>
							</div>
						</div>
					</div>
                </div>
				<div class="col-sm-12 col-md-6 col-lg-3 mt-3">
				    <div class="tm">
				        <img src="image/team-4.jpg" width="100%;">
						<div class="teaminfo">
							<div class="teamname">
								<h1>Sarah Johnson</h1>
								<p><i>Product manager</i></p>
							</div>
						    <div class="teamicon">
								<iconify-icon icon="akar-icons:twitter-fill"></iconify-icon>
								<iconify-icon icon="akar-icons:facebook-fill"></iconify-icon>
								<iconify-icon icon="akar-icons:instagram-fill"></iconify-icon>
								<iconify-icon icon="akar-icons:linkedin-fill"></iconify-icon>
							</div>
						</div>
                    </div>
                </div>
            </div>			
	    </div>
	</div>
	<div class="clients">
        <div class="container">
	        <div class="ser">
				<h2>Clients</h2>
				<h1>They trusted us</h1>
			</div> 
	        <div class="ci">
	            
			<div class="row d-flex mt-5 clientimg">
					<div class="col png">
					  <img src="image/client-1.png"  width="50%;">
					</div>
					<div class="col png">
					  <img src="image/client-2.png"  width="50%;">
					</div>
					<div class="col png">
					  <img src="image/client-3.png" width="50%;">
					</div>
					<div class="col png">
					  <img src="image/client-4.png" width="50%;">
					</div>
					<div class="col png">
					  <img src="image/client-5.png" width="50%;">
					</div>
					<div class="col png">
					  <img src="image/client-6.png" width="50%;">
					</div>
					
				  
	        </div>
	    </div>
	   </div>
	</div>
	<div class="add">
	    <div class="container">
	         <div class="ser">
				<h2>Contact Us</h2>
				<h1>Contact us the get started</h1>
			</div> 
			<div class="row justify-content-around">
			    <div class="col-sm-12 col-md-12 col-lg-4 mt-5 shadow-sm" style="border-top:3px solid #eb5d1e; border-bottom:3px solid #eb5d1e;">
			        <div class="loc d-flex mt-3">
					    <div class="icon">
						    <iconify-icon icon="akar-icons:location"></iconify-icon>
					    </div>
					    <div class="para">
						    <h1>Location:</h1>
							<p>A108 Adam Street, New York, NY 535022</p>
						</div>
					</div>
					<div class="loc d-flex  mt-3">
					    <div class="icon">
						    <iconify-icon icon="bi:envelope"></iconify-icon>
					    </div>
					    <div class="para">
						    <h1>Email:</h1>
							<p>info@example.com</p>
						</div>
					
					
					</div>
					<div class="loc d-flex  mt-3">
					    <div class="icon">
						    <iconify-icon icon="bi:phone"></iconify-icon>
					    </div>
					    <div class="para">
						    <h1>Call:</h1>
							<p>+1 5589 55488 55s</p>
						</div>
					</div>
					<div class="map mt-5">
					    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31528.698621891348!2d77.29696873659499!3d8.964100679884865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0429c15ac547f7%3A0x9a707276cd8ae327!2sTenkasi%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1666715501410!5m2!1sen!2sin" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					
					</div>
				</div>
			
			   <div class="col-sm-12 col-md-12 col-lg-7 mt-5 shadow-sm" style="border-top:3px solid #eb5d1e; border-bottom:3px solid #eb5d1e; ">
			        <div class="form mt-3 mb-5">
					    <div class="name d-flex justify-content-between">
						    <div class="mb-3 hold">
							  <label for="exampleFormControlInput1" class="form-label">Your Name</label>
							  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="   Your Name">
							</div>
							<div class="mb-3 hold">
							  <label for="exampleFormControlInput1" class="form-label">Your Email</label>
							  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="   Your Email">
							</div>
						</div>
						<div class="sub">
						    <div class="mb-3 mt-3">
							  <label for="exampleFormControlInput1" class="form-label">Subject</label>
							  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="   Subject">
							</div>
							<div class="mb-3 mt-4">
							  <label for="exampleFormControlTextarea1" class="form-label">Message</label>
							  <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
							</div>
							<div class="prime">
							    <button type="button" class="btn btn-primary mt-5">Send Message</button>
							</div>
						</div>
					</div>
				</div>
			</div>
	
	    </div>
	</div>
	<div class="letter">
	    <div class="container">
	        <div class="row our">
			    <h4>Our Newsletter</h4><br>
					<p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
					<form class="mail">
					<p><input class="emailbox" type="email" name="email" ><a href="">Subscribe</a></p>
					</form>
			</div>
	
        </div>	
	</div>
	<div class="links">
	    <div class="container">
	        <div class="row" style="justify-content:space-between;">
	            <div class="col-sm-12 col-md-6 col-lg-3 mt-3">
				    <div class="call1" style="color:#5c5c5c;">
						<h1>NINESTAR</h1>
						<h3>A108 Adam Street<br>
						NY 535022, USA</h3>
						<p class="pt-4"><span>Phone:</span> +1 5589 55488 55<br>
						<span>Email:</span> info@example.com</p>
					
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 mt-3">
				    <div class="useful" style="color:#5c5c5c;">
						<h4>Useful Links</h4>
						<ul class="pt-3">
						    <li><iconify-icon icon="akar-icons:chevron-right"></iconify-icon><a href="">Home</a></li>
						    <li><iconify-icon icon="akar-icons:chevron-right"></iconify-icon><a href="">About Us</a></li>
						    <li><iconify-icon icon="akar-icons:chevron-right"></iconify-icon><a href="">Services</a></li>
						    <li><iconify-icon icon="akar-icons:chevron-right"></iconify-icon><a href="">Terms of services</a></li>
						    <li><iconify-icon icon="akar-icons:chevron-right"></iconify-icon><a href="">Privacy policy</a></li>
						</ul>
					
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 mt-3">
				    <div class="useful" style="color:#5c5c5c;">
						<h4>Our Services</h4>
						<ul class="pt-3">
						    <li><iconify-icon icon="akar-icons:chevron-right"></iconify-icon><a href="">Webdesign</a></li>
						    <li><iconify-icon icon="akar-icons:chevron-right"></iconify-icon><a href="">Web-development</a></li>
						    <li><iconify-icon icon="akar-icons:chevron-right"></iconify-icon><a href="">Product Management</a></li>
						    <li><iconify-icon icon="akar-icons:chevron-right"></iconify-icon><a href="">Marketing</a></li>
						    <li><iconify-icon icon="akar-icons:chevron-right"></iconify-icon><a href="">Graphic Design</a></li>
						</ul>
						 
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 mt-3">
				    <div class="media" style="color:#5c5c5c; cursor:pointer;">
					    <h4 style="font-size:19px; font-weight:600;">Our Social Networks</h4>
						<p class="pt-3">Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
						<div class="ins d-flex pt-3">
						    <div class="twit">
							    <iconify-icon icon="akar-icons:twitter-fill"></iconify-icon>
							</div>
							<div class="twit">
							    <iconify-icon icon="akar-icons:facebook-fill"></iconify-icon>
							</div>
							<div class="twit">
							    <iconify-icon icon="akar-icons:instagram-fill"></iconify-icon>
							</div>
							<div class="twit">
							    <iconify-icon icon="ant-design:skype-filled"></iconify-icon>
							</div>
							<div class="twit">
							    <iconify-icon icon="akar-icons:linkedin-fill"></iconify-icon>
							</div>
						</div>
					</div>
				</div>
	        </div>
	    </div>
	</div>
	<div class="footer">
	    <div class="container">
	        <div class="row">
			    <div class="copy">
				    <div class="right">
					    <h1>© Copyright Ninestars. All Rights Reserved</h1>
					</div>
					<div class="right">
					    <p>Designed by <span style="color:#eb5d1e;">BootstrapMade</span></p>
					</div>
				 
				</div>
	        </div>
			
	    </div>
	</div>
    
	
	
	
	
	
	
	
	
	
    
  </body>
</html>