.container{
	width:90%;
	margin:auto;
}
.home{
	background-image:url(download.jpeg);
	height:80vh;
	width:100%;
	background-size:cover;
	background-position:center;
}
.name{
	color:white;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	font-size:1.4rem;
	line-height:2;
	font-weight:bold;
}
.name{
	display:flex;
}
.name p{
	font-size:30px;
}
.crop{
	padding-left:8px;
}
.green{
	color:green;
}
.blue{
	color:#0014a8;
}
.myself{
    width:270px;
	height:270px;
}
.tool span{
	font-size:24px;
	color:rgb(8,121,246);;
}
.tool p{
	font-size:20px;
	color:grey;
}
.tool h1{
	font-size:25px;
}
.tool a{
	border-radius:20px;
	text-decoration:none;
	padding:10px;
	font-size:20px;
	background-color:#FF007F;
	color:white;
}

@media(min-width:1024px){
	.name{
		font-size:2rem;
	}
	.topnav{
		padding:15px;
	}
}
.myself img{
	height:270px;
	width:100%;
	border:5px solid rgb(8,121,246);
}
.img h1{
	font-size:2rem;
	font-weight:700;
	color:#FF007F;
	text-align:center;
	margin-top:30px;
}
.para{
	font-size:1.5rem;
	color:rgb(8,121,246);
}
.details{
	line-height:2;
}
.about{
	padding-bottom:30px;
	background-color:#fef8f5;
}
.details span{
	font-weight:700;
	font-size:1.3rem;
}
.details p{
	font-size:1.3rem;
}
.icon iconify-icon{
	font-size:2rem;
}
@media(min-width:768px){
	.details span{
		font-size:1.1rem;
		font-weight:bold;
	}  
    .details p{
		font-size:1rem;
	}	
}
@media(min-width:1024px){
	.details span{
		font-size:1.3rem;
		font-weight:bold;
	}  
    .details p{
		font-size:1.2rem;
	}
    .num iconify-icon{
		font-size:2.5rem;
	}	
}
.skills h1{
	font-size:2rem;
	font-weight:700;
	color:#FF007F;
	text-align:center;
	margin-top:30px;
}
.skills p{
	font-size:1.5rem;
	text-align:center;
	color:rgb(8,121,246);
}
.sk{
	background-color: #f1f7fb;
}
.resume{
	background-color:#fef8f5;	
}
.card-header{
	font-size:1.2rem;
	font-weight:700;
}
.card-body{
	text-align:center;
}
.card-body iconify-icon{
	font-size:2rem;
	display:flex;
	justify-content:center;
}
.card-body h5{
	font-size:1.4rem;
	font-weight:bold;
	color:#FF007F;
}
.card-body p{
	font-size:1.3rem;
	color:gray;
}
.res{
	font-weight:bold;
	color:gray;
}
.portfolio img{
	border:1px solid black;
}
.contact{
	background-color:#f1f7fb;
}
.num{
    text-align:center;
	line-height:1.5;	
}
.bg{
	background-color:white;
}
.phone{
	height:60px;
	width:60px;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:auto;
	background-color:#f1f7fb;
}
.num iconify-icon{
	font-size:2rem;
	color:rgb(8,121,246);
}
.loc h3{
	font-size:1.2rem;
	font-weight:bold;
}
.loc p{
	font-size:1.1rem;
}
.loc span{
	margin-top:5rem;
}
.phone:hover{
	box-shadow:0px 0 25px rgb(255 0 127/25%);
}
.phone:hover iconify-icon{
	color:rgb(255 0 127);
}
.anchor a{
	text-decoration:none;
	color:white;
	padding:10px;
	background-color:#FF007F;
	border-radius:10px;
	font-size:1.2rem;
}
.footer{
	background-color:#fef8f5;
}
.foot{
	text-align:center;
}
.foot span{
	color:#FF007F;
} 
.obj span{
	font-weight:700;
	font-size:24px;
	color:rgb(8,121,246);
}
.obj{
	font-size:23px;
	line-height:1.5;
} 
.bor{
	height:170px;
	width:170px;
	border-radius:50%;
	border:5px solid rgb(8,121,246);
}
