<html>
<title>layout</title>
<head>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Raleway:wght@200&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<section class="container">
    <header class="header">
	    <nav class="topnav">
	        <p>Baker</p>
		    <ul>
		        <li><a href="Home">Home</a></li>
			    <li><a href="About">About</a></li>
			    <li><a href="Services">Services</a></li>
			    <li><a href="Portfolio">Portfolio</a></li>
			    <li><a href="Team">Team</a></li>
			    <li><a href="Pricing">Pricing</a></li>
			    <li><a href="Drop Down">Drop Down</a></li>
			    <li><a href="Contact">Contact</a></li>
		    </ul>	
	    </nav>
	
	    <div class="home">
	        <div class="hello">
		        <h1>Welcome to Baker</h1>
			    <p>We are team of talented designers making websites with Bootstrap</p>
		    </div>
			<div class="orange">
			    <button><a href="#">Get Started</a></button>
			</div>	
	    </div>
	</header>
	<div class="logo">
	    <div class="logo1">
		    <img src="image/client-1.png" class="client1">
		</div>
		<div class="logo2">
		    <img src="image/client-2.png" class="client2">
		</div>
		<div class="logo3">
		    <img src="image/client-3.png" class="client3">
		</div>
		<div class="logo4">
		    <img src="image/client-4.png" class="client4">
		</div>
		<div class="logo5">
		    <img src="image/client-5.png" class="client5">
		</div>
		<div class="logo6">
		    <img src="image/client-6.png" class="client6">
		</div>
	</div>
	
    	<div class="rest">
	        <div class="image">
	            <img src="image/about.jpg" class="boy">
	        </div>
	
	        <div class="sec2">
		        <h3>Voluptatem dignissimos provident quasi</h3>
			    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit</p>
            </div>
	        <div class="icon1">
		         <div class="icon1img">
			        <iconify-icon icon="bx:cube-alt"></iconify-icon>
			        <h4>Ullamco laboris nisi</h4>
				    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
			    </div>
	        </div>
	        <div class="icon2">
		        <div class="icon2img">
			        <iconify-icon icon="bx:receipt"></iconify-icon>
			        <h4>Corporis voluptates sit</h4>
				    <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
			    </div>
	        </div>
		</div>
		
	<div class="sec3">
	    <div class="no1">
		    <h1>232</h1>
			<p>Clients</p>
		</div>
		
		<div class="no2">
		    <h1>521</h1>
			<p>Projects</p>
		</div>
		
		<div class="no3">
		    <h1>1463</h1>
			<p>Hours Of Support</p>
		</div>
		
		<div class="no4">
		    <h1>15</h1>
			<p>Hard Workers</p>
		</div>
	
    </div>	
	
	    <div class="sec4">
	        <h2>SERVICES</h2><hr class="line">
			<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. 
			Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo <br>qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
	    </div>
	    <div class="row">
	        <div class="d1">
			    <iconify-icon icon="akar-icons:dribbble-fill"></iconify-icon>
				<h4>Lorem Ipsum</h4>
				<p>Voluptatum deleniti atque corrupti quos dolores<br>et quas molestias excepturi</p>
	        </div>
		    <div class="d2">
			    <iconify-icon icon="akar-icons:file"></iconify-icon>
				<h4>Sed Perspiciatis</h4>
				<p>Duis aute irure dolor in reprehenderit in<br> voluptate velit esse cillum dolore</p>
		    </div>
		    <div class="d3">
			    <iconify-icon icon="bx:tachometer"></iconify-icon>
				<h4>Magni Dolores</h4>
				<p>Excepteur sint occaecat cupidatat non proident,<br> sunt in culpa qui officia</p>
		    </div>
	    </div>
	    <div class="row1">
	        <div class="d4">
			    <iconify-icon icon="bx:layer"></iconify-icon>
				<h4>Nemo Enim</h4>
				<p>At vero eos et accusamus et iusto odio<br>dignissimos ducimus qui blanditiis</p>
		    </div>
		    <div class="d5">
			    <iconify-icon icon="bx:slideshow"></iconify-icon>
				<h4>Dele Cardo</h4>
				<p>Quis consequatur saepe eligendi voluptatem<br>consequatur dolor consequuntur</p>
		    </div>
		    <div class="d6">
			    <iconify-icon icon="bx:arch"></iconify-icon>
				<h4>Divera Don</h4>
				<p>Modi nostrum vel laborum. Porro fugit error sit<br>minus sapiente sit aspernatur</p>
		   </div>
	    </div>
	
	<div class="call">
	    <h1>Call To Action</h1>
		<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
		fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,<br> sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<button class="cta">Call To Action</button>
	</div>
	<div class="profile">
	    <div class="testimonial">
		    <h2>TESTIMONIALS</h2><hr class="tl">
			<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate.
			Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
	    </div>
	    <div class="tm">
	
	        <div class="tm1">
			    <p class="tm1p"><iconify-icon icon="bxs:quote-alt-left"></iconify-icon> Export tempor illum tamen malis malis <br>eram quae irure esse labore quem <br>cillum 
				quid cillum eram malis quorum<br> velit fore eram velit sunt aliqua noster <br>
				fugiat irure amet legam anim culpa. <iconify-icon icon="bxs:quote-alt-right"></iconify-icon></p>
			    <div class="girl">
				    <img src="image/testimonials-1.jpg" height="90px;" width="90px" style="border-radius:50%">
				</div>
				<div class="girlname">
				    <h3>Saul Goodman</h3>
					<p>Ceo & Founder</p>
				</div>
            </div>
            <div class="tm2">
			    <p class="tm2p"> <iconify-icon icon="bxs:quote-alt-left"></iconify-icon>Proin iaculis purus consequat sem<br> cure digni ssim donec porttitora entum<br> suscipit rhoncus. 
				Accusantium quam,<br> ultricies eget id, aliquam eget nibh et.<br> Maecen aliquam, risus at semper.<iconify-icon icon="bxs:quote-alt-right"></iconify-icon> </p>
		        <div class="sara">
				    <img src="image/testimonials-2.jpg" height="90px;" width="90px;" style="border-radius:50%;">
				</div>
				<div class="saraname">
				    <h3>Sara Wilsson</h3>
					<p>Designer</p>
				</div>
		    </div>
		    <div class="tm3">
		        <p class="tm3p"><iconify-icon icon="bxs:quote-alt-left"></iconify-icon> Enim nisi quem export duis labore<br> cillum quae magna enim sint quorum<br>
				nulla quem veniam duis minim tempor <br>labore quem eram duis noster aute<br> amet 
				eram fore quis sint minim. <iconify-icon icon="bxs:quote-alt-right"></iconify-icon></p>  
				<div class="jena">
				    <img src="image/testimonials-3.jpg" height="90px;" width="90px" style="border-radius:50%">
				</div>	
				<div class="jenaname">
				    <h3>Jena Karlis</h3>
					<p>Store Owner</p>
				</div>
		    </div>
	    </div>
	</div>
	<div class="port">
	</div>
	<div class="portfolio">
	        <h2>PORTFOLIO</h2><hr class="porline">
			<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate.
			Et nemo<br> qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
			    <div class="app">
				        <button><a href="#">All</a></button>
					    <button><a href="#">App</a></button>
					    <button><a href="#">Card</a></button>
					    <button><a href="#">Web</a></button>	
	            </div>
	</div>
	<div class="portimg">
	    <div class="pt1">
		    <img src="image/portfolio-1.jpg" height="300px" width="340px">
		</div>
		<div class="pt2">
		    <img src="image/portfolio-2.jpg" height="300px" width="340px">
		</div>
		<div class="pt3">
		    <img src="image/portfolio-3.jpg" height="300px" width="340px">
		</div> 
	</div>
	<div class="portimg2">
	    <div class="pt4">
		    <img src="image/portfolio-4.jpg" height="300px" width="340px">
		</div>
		<div class="pt5">
		    <img src="image/portfolio-5.jpg" height="300px" width="340px">
		</div>
		<div class="pt6">
		    <img src="image/portfolio-6.jpg" height="300px" width="340px">
		</div> 
	</div>
	<div class="portimg3">
	    <div class="pt7">
		     <img src="image/portfolio-7.jpg" height="300px" width="340px">
		</div>
		<div class="pt8">
		    <img src="image/portfolio-8.jpg" height="300px" width="340px">
		</div>
		<div class="pt9">
		    <img src="image/portfolio-9.jpg" height="300px" width="340px">
		</div> 
	</div>
	<div class="mates">
	    <div class="team">
		    <h1>TEAM</h1><hr class="teamline">
			<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate.
			Et nemo<br> qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
	    </div>
	    <div class="timg">
            <div class="team1">
			    <img src="image/team-1.jpg" height="270px" width="100%">
				<div class="officer1">
				    <h4>Walter White</h4>
					<p>Chief Executive Officer</p>
				</div>
		    </div>
		    <div class="team2">
			    <img src="image/team-2.jpg"  height="270px" width="100%">
				    <div class="officer2">
					    <h4>Sarah Jhonson</h4>
						<p>Product Manager</p>
					</div>
		    </div>
		    <div class="team3">
			    <img src="image/team-3.jpg"  height="270px" width="100%">
				<div class="officer3">
				    <h4>William Anderson</h4>
					<p>CTO</p>
				</div>
            </div>
		    <div class="team4">
			    <img src="image/team-4.jpg"  height="270px" width="100%">
				<div class="officer4">
				    <h4>Amanda Jepson</h4>
					<p>Accountant</p>
				</div>
		    </div>
	    </div>
	</div>	
	<div class="free">
	     <div class="pricing">
		    <div class="hp">
			    <h4>Pricing</h4><hr class="priceline">
				<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. 
				    Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
			</div>
		 </div>
		 <div class="buy">
		    <div class="free1">
			        <h3>Free</h3>
				    <h4><sup>$</sup>0<span class="freespan">/ month</span></h4>
				    <ul>
				        <li>Aida dere</li>
					   <li>Nec feugiat nisl</li>
					   <li>Nulla at volutpat dola</li>
					   <li><strike>Pharetra massa</strike></li>
					   <li><strike>Massa ultricies mi</strike></li>
				    </ul>
                <div class="buynow">
                    <button><a href="Buy Now">Buy Now</a></button>
           	    </div>			
		    </div>
			     
		    <div class="business">
			     <h3>Business</h3>
				 <h4><sup>$</sup>19<span class="bus"> / month</span>
				 <ul>
				    <li>Aida dere</li>
					<li>Nec feugiat nisl</li>
					<li>Nulla at volutpat dola</li>
					<li>Pharetra massa</li>
					<li><strike>Massa ultricies mi</strike></li>
				</ul>	
				<div class="busbtn">
                    <button><a href="Buy Now">Buy Now</a></button>
           	    </div>
            </div>
		    <div class="developer">
			    <h3>Developer</h3>
				 <h4><sup>$</sup>29<span class="dv"> / month</span>
				 <ul>
				    <li>Aida dere</li>
					<li>Nec feugiat nisl</li>
					<li>Nulla at volutpat dola</li>
					<li>Pharetra massa</li>
					<li>Massa ultricies mi</li>
				</ul>	
				<div class="dvbtn">
                    <button><a href="Buy Now">Buy Now</a></button>
           	    </div>
		    </div>
		   <div class="ultimate">
		        
		        <h3>Ultimate</h3>
				 <h4><sup>$</sup>49<span class="ult"> / month</span>
				 <ul>
				    <li>Aida dere</li>
					<li>Nec feugiat nisl</li>
					<li>Nulla at volutpat dola</li>
					<li>Pharetra massa</li>
					<li>Massa ultricies mi</li>
				</ul>	
				<div class="ultbtn">
                    <button><a href="Buy Now">Buy Now</a></button>
           	    </div>
		   </div>
	</div>
		</div>
		<div class="faques">
            <div class="ques">
			    <h2>Frequently Asked Questions</h2>
				<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. 
				Quisquam quos quisquam cupiditate.<br> Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>	
           <div class="faq">
           </div> 	
        </div>	
		<div class="contact">
		    <div class="para">
			    <h1>CONTACT</h1><hr class="contactline">
				<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. 
				Quisquam quos quisquam cupiditate. Et nemo</br> qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
			</div>
			<div class="address">
			    <div class="ouraddress">
				    <iconify-icon icon="bx:map"></iconify-icon>
					<h3>Our Address</h3>
					<p>A108 Adam Street, New York, NY 535022</p>
				<div>
				<div class="email">
				    <iconify-icon icon="bx:envelope"></iconify-icon>
				    <h3>Email Us</h3>
					<p>info@example.com<br>
					contact@example.com</p>
				</div>
				<div class="callus">
				    <iconify-icon icon="bx:phone-call"></iconify-icon>
					<h3>Call Us</h3>
					<p>+1 5589 55488 55<br>
					+1 6678 254445 41</p>
				</div>
				
			</div>
			<div class="form">
			    <div class="formname">
				    <input type="text" name="name" class="formname" id="name" placeholder="Your Name">
					<input type="text" name="name" class="formname" id="Email" placeholder="Email" >
				</div>		
				<div class="formsubject">
				    <input type="text" name="name" class="formname" id="Subject" placeholder="Subject" >
				</div>	
				<div class="formmsg">
				    <textarea class="Message" name="message" rows="5" placeholder="Message" style="height: 142px;"></textarea>
				</div>	
			    <div class="SM">
				    <button><a href="#">SendMessage</a></button>
				</div>	
			
			</div>
		</div>
	</div>
    <div class="links">
		    <div class="b1">
			    <h3>Baker</h3>
				<p> A108 Adam Street <br>
				    New York, NY 535022<br>
					United States <br><br>
			        <strong>Phone:</strong> +1 5589 55488 55<br>
                    <strong>Email:</strong> info@example.com<br>
                <p>					
			</div>
			<div class="b2">
			     <h4>Useful Links</h4>
				 <ul>
				    <li><iconify-icon icon="charm:chevron-right"></iconify-icon><a href="#">Home</a></li>
					<li><iconify-icon icon="charm:chevron-right"></iconify-icon><a href="#">About us</a></li>
					<li><iconify-icon icon="charm:chevron-right"></iconify-icon><a href="#">Services</a></li>
					<li><iconify-icon icon="charm:chevron-right"></iconify-icon><a href="#">Terms of Services</a></li>
					<li><iconify-icon icon="charm:chevron-right"></iconify-icon><a href="#">Privacy Policy</a></li>
				 </ul>
			</div>
			<div class="b3">
			    <h4>Our Services</h4>
				 <ul>
				    <li><iconify-icon icon="charm:chevron-right"></iconify-icon><a href="#">Web Design</a></li>
					<li><iconify-icon icon="charm:chevron-right"></iconify-icon><a href="#">Web Development</a></li>
					<li><iconify-icon icon="charm:chevron-right"></iconify-icon><a href="#">Product Management</a></li>
					<li><iconify-icon icon="charm:chevron-right"></iconify-icon><a href="#">Marketing</a></li>
					<li><iconify-icon icon="charm:chevron-right"></iconify-icon><a href="#">Graphic Design</a></li>
				 </ul>
			</div>
			<div class="b4">
			    <h4>Join Our Newsletter</h4>
				<p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
				    <form class="news">
					    <input class="emailbox" type="email" name="email" >
					    <input type="submit" value="Subscribe" class="subscribe">
					</form>
			</div>
	</div>
        <footer class="footer">
		    <div class="copy">
			     <h4>© copywrite</h4> <strong>Baker</strong>.All Rights Reserved
			</div>
			<div class="design">
			    <h4>Designed by</h4> <a href="">BootstrapMade</a>
			</div>
			<div class="socialmedia">
			    <div class="twit">
				    <iconify-icon icon="akar-icons:twitter-fill"></iconify-icon>
				</div>
				<div class="facebook">
				    <iconify-icon icon="akar-icons:facebook-fill"></iconify-icon>
				</div>
				<div class="insta">
				    <iconify-icon icon="akar-icons:instagram-fill"></iconify-icon>
				</div>
				<div class="skype">
				    <iconify-icon icon="ant-design:skype-filled"></iconify-icon>
				</div>
				<div class="in">
				    <iconify-icon icon="akar-icons:linkedin-fill"></iconify-icon>
				</div>
				
			</div>
			
		</footer>	
	
		
</section>
    

</body>