*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	outline:none;
}
.container{
	width:80%;
	margin:auto;
}
.calculator{
	display:flex;
	justify-content:center;
	align-items:center;
}
.zero{
	height:500px;
	width:30%;
	background-color:#00008b;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:auto;
	margin-top:7%;
}
.cal input{
	border-radius:10px;
	padding:15px;
	width:98%;
	text-align:end;
	font-size:2.5rem;
	font-weight:700;
	display:flex;	
}
.cal{
	display:flex;
	margin:auto;
	flex-wrap:wrap;
	justify-content:space-around;	
	width:85%;
}
.cal button{
	height:3.5rem;
	width:3.5rem;
	font-size:1.5rem;
	font-weight:700;
	margin-top:20px;
	border-radius:8px;
	border:none;
	background-color: #ADD8E6;
}
.icon{
	display:flex;
	justify-content:center;
	align-items:center;
}
.icon iconify-icon{
	font-size:2rem;
}