*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	outline:none;
}
.container{
	width:85%;
	margin:auto;
}
#work{
	border:1px solid black;
	width:49%;
	text-align:center;
}
#edit{
	border:1px solid black;
	width:49%;
	text-align:center;
}
.do{
	display:flex;
	justify-content:space-between;
}
textarea{
	font-size:2rem;
}
p{
	font-size:2rem;
	margin-top:5px;
}
button{
	padding:10px;
	font-size:1.2rem;
	border:none;
	border-radius:15px;
	cursor:pointer;
}
.edit{
	background-color:green;
	color:white;
	margin-left:10px;
}
.delete{
	background-color:red;
	color:white;
	margin-left:10px;
}