*{
    margin:0;
	padding:0;
	box-sizing:boreder-box;
}
body{
	font-family: 'Raleway', sans-serif;
}
.container{
	width:85%;
	margin:auto;
}
/* header starts */
.contact{
	display:flex;
	justify-content:space-between;
}
.top{
	border-bottom:1px solid grey;
}
.topbar{
	width:100%;
	display:flex;
	font-size:1rem;
}
.topbar iconify-icon{
	color:#428bca;
}
.media{
	display:none;
}
.topnav{
	display:flex;
	justify-content:space-between;
	padding:0.7rem;
}
.topnav ul, li{
	display:flex;
	display:none;
}
.topnav a{
	color:#1c5c93;
}
.header{
	width:100%;
	box-shadow:0 5px 15px rgb(0 0 0 /10%);
}
.logo p{
	font-size:1.6rem;
	padding-top:10px;
	color:#1c5c93;
	cursor:pointer;
	
}
.topnav iconify-icon{
	font-size:2rem;
	padding-top:10px;
	color:#1c5c93;
}
@media(min-width:768px){
	.topbar{
		width:50%;
		display:flex;
		padding:10px;
	}
	.media{
		display:block;	
       		
	}
	.media iconify-icon{
		color:#1c5c93;
		padding:10px;
	}
	
}
@media(min-width:1024px){
	.topnav ul, li{
		display:block;
		display:flex;
		padding:10px;
		
	}
	.topnav a{
		text-decoration:none;
		color:#1c5c93;
	}
	.topnav iconify-icon{
		display:none;
	}
}
/* header ends */
/* Home section */
.slide{
	background-image:url("slide.jpg");
	width:100%;
	height:80vh;
	background-size:cover;
	background-attachment:fixed;
}
.home{
	margin:auto;
}
.welcome p{
	font-size:;
	color:black;
	font-family:arial;
	line-height:1.5;
	padding-top:2rem;
}
.welcome h1{
	font-size:1.5rem;
	font-weight:800;
	padding-top:1rem;
}

.read{
	margin-top:1rem;
}
.read a{
		width:10%;
		text-decoration:none;
		background-color:#428bca;
		padding:5px 20px 5px 20px;
		color:white;
}

@media(min-width:768px){
	
	.read a{
			width:10%;
			text-decoration:none;
			background-color:#428bca;
			padding:10px 20px 10px 20px;
			color:white;
			
	}
}
@media(min-width:1024px){
	.welcome h1{
		font-size:3rem;
		font-weight:800;
	}
	
}



/* Home section ends*/
/* about section starts*/

.about{
	padding-top:3rem;
	line-height:1.5;
}
.us{
	text-align:center;
}
.us h1{
	font-size:1.5rem;
	font-weight:600;
	color:#5c768d;
	padding-top:1rem;
}
.us p{
	text-align: left;
    font-style: italic;
    color: #666;
	font-weight:600;
	font-size:1.2rem;
}
.lorem{
	display:flex;
	justify-content:space-between;
	margin-top:1rem;
}
.abticon{
	width:20%;
}
.abtp{
	width:75%;
	
}
.lorem iconify-icon{
	
	padding:1.2rem;
	font-size:1.5rem;
	color:#428bca;
	background-color:#f1f7fb;
}

.abtp h3{
    font-size:1.1rem;
	font-weight:600;
	padding-bottom:0.5rem;
}
.abtpara p{
	font-size:0.8rem;
}
.abtp p{
	font-size:0.8rem;
}
@media(min-width:768px){
	.abtimg{
		width:48%;
	}
	.abtpara{
		width:48%;
	}
	.abt{
		display:flex;
		justify-content:space-between;
	}
}
@media(min-width:1024px){
    .us h1{
        font-size:40px;
		padding-top:3rem;
	}	
    .us p{
        font-size:16px;
	}		
	.abtp p{
		font-size:15px;
	}
}
/* about section ends*/
/* six box section starts*/
    .boxes{
		margin-top:2.5rem;
	}
	.sixbox{
		gap:10px;
	}
	.b1, .b2, .b3, .b4, .b5, .b6{
		border-bottom:0.5px solid silver;
		margin-top:15px;
	}
	.box-1 h4{
		font-size: 24px;
		font-weight: 400;
		color: #9eccf4;
	}
	.box-1 h3{
		font-size:20px;
		margin:20px 0px 20px 0px; 
	}
	.box-1 p{
		line-height:1.5;
		margin-bottom:30px;
	}
	@media(min-width:768px){
		.boxes{
			width:100%;
		}
		.box-1{
			width:49%;
		}
		.b1, .b3, .b5{
			border-right:0.5px solid silver;
		}
		.b5, .b6{
			border-bottom:none;
		}
		.sixbox{
			width:100%;
			display:flex;
			flex-wrap:wrap;
			justify-content:;
		}
	}
	@media(min-width:1024px){
		.sixbox{
			width:100%;
			display:flex;
			flex-wrap:wrap;
		}
		.box-1{
			width:32%;
		}
		.b4, .b2{
			border-right:0.5px solid silver;
		}
		.b3{
			border-right:none;
		}
		.b4{
			border-bottom:none;
		}
		.box-1 h4{
			font-size:22px;
		}
		.box-1 h3{
			font-size:26px;
		}
		.box-1 p{
			font-size:17px;
		}
	}
/* six box section ends*/
/* four box starts */
    .fourbox{
		padding-top:50px;
		padding-bottom:40px;
		background-color:#f1f7fb;
	}
	.num1{
		text-align:center;
		padding:20px;
		margin-top:20px;
		background-color:white;
		box-shadow: 0px 0 16px rgb(0 0 0 / 10%);
	}
	.num1 h1{
		font-size:35px;
	}
	.num1 p{
		font-size:18px;
	}
	@media(min-width:768px){
		.fb{
			display:flex;
			flex-wrap:wrap;
			justify-content:space-between;
			
		}
		.num1{
			width:42%;
		}
		
		.num1 p{
			font-size:16px;
		}
	}
	@media(min-width:1024px){
		.num1{
			width:20%;
		}
		.fb{
			display:flex;	
		}
	}
/* four box ends */
/* service section starts */
        .services{
			margin-bottom:40px;
		}
        .sh{
			text-align:center;
			font-size: 32px;
			font-weight: 600;
			margin:20px 0px 20px 0px;
			color: #5c768d;
		}
		.s1{
			text-align:center;
			align-items:center;
			margin:20px 0px 20px 0px; 
		}
		.s1 iconify-icon{
			font-size:30px;
			padding:20px;
			border-radius: 50%;
			color: #428bca;
			box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
		}
		.s1 h3{
			font-size:18px;
			font-weight:600;
			color:#444;
			margin:20px 0px 20px 0px; 
		}
		.s1 p{
			font-size:15px;
			line-height:1.5;
		}
		@media(min-width:768px){
			.s1{
				width:50%;	
			}
			.ser{
				display:flex;
				flex-wrap:wrap;
			}
		}
		@media(min-width:1024px){
			.s1{
				width:32%;
			}
			.ser{
				display:flex;
				justify-content:space-between;
			}
		}
/* service section ends */
/* portfolio section starts */
    .portfolio{
		background-color:#f1f7fb;
		padding-top:50px;
		padding-bottom:50px;
	}
    .port{
		text-align:center;
	}
	.port h1{
		font-size:25px;
		font-weight:600;
	}
	.port p{
		font-size:15px;
		margin:10px 0px 0px 0px;
		line-height:1.5;
	}
    .btn{
		margin:20px 0px 20px 0px;
		text-align:center;
		
	}
	.btn a{
		font-size:15px;
		text-decoration:none;
		padding:10px;
		color:black;
	}
	.btn a:hover{
		color:white;
		background-color:#428bca; 
	}
	.portimg img{
		margin:10px 0px 10px 0px;
	}
	@media(min-width:768px){
		.pi{
			width:49%;
		}
		.portimg{
			display:flex;
			flex-wrap:wrap;
			justify-content:space-between;
		}
	}
	@media(min-width:1024px){
		.pi{
			width:32%
		}
		.portimg{
			display:flex;
		}
	}
/* portfolio section ends */
/* team section starts */
	.team{
		padding-top:50px;
		padding-bottom:50px;
		}
	.leader{
        margin-top:20px;
	}	
    .meminfo{
	    width:60%;
		margin:auto;
       border:1px solid black;
	   text-align:center;
	   padding:15px 0px 15px 0px;
	   position:absolute;
	   z-index:1;
	   left:20px;
	   right:20px;
	   margin-top:-80px;
	   line-height:2;
	   background-color:silver;
	}	
    .mem1{
        margin-top:100px;
	}		
}
@media(min-width:768px){
	
}
@media(min-width:1024px){
	
	
}
/* team section ends */
/* faq section starts */
    .faq{
		background-color:#f1f7fb;
		padding-top:50px;
		padding-bottom:50px;
	}
	.ques{
		padding-top:30px;
	}
	.ans{
		margin:20px 0px 20px 0px;
	}
    .ans h4{
		font-size:18px;
		font-weight:600;
		margin:0px 0px 10px 0px;
		color:#1f3548;
	}
	.ans p{
		font-size:14px;
		line-height:1.5;
		color:grey;
	}
    @media(min-width:768px){
		.ans h4{
		font-size:19px;
		}
		.ans p{
		font-size:16px;
		}
	}
	@media(min-width:1024px){
		.ans h4{
		font-size:20px;
		}
		.ans p{
		font-size:18px;
		}
		.ans{
			width:49%;
		}
		.ques{
			display:flex;
			flex-wrap:wrap;
			justify-content:space-between;
		}
	}

/* faq section ends */
/* address section starts */
	.address{
		padding-top:50px;
		padding-bottom:50px;
	}
	.ouraddress{
		text-align:center;
		padding:30px;
		margin-top:20px;
		box-shadow: 0px 0 25px rgb(0 0 0 / 10%);
	}
    .ouraddress iconify-icon{
		font-size:35px;
		border-radius: 50%;
		padding: 8px;
		border: 2px dotted #9eccf4;;
		color:#428bca;	
	}
	.ouraddress h3{
		font-size:20px;
		font-weight:600;
		margin:10px 0px 0px 0px;
	}
	.ouraddress p{
		margin:10px 0px 0px 0px;
		font-size:17px;
		line-height:1.5;
	}
	.form{
		margin-top:30px;
	}
	.sub{
		padding:30px 0px 30px 0px;
		box-shadow: 0px 0 25px rgb(0 0 0 / 10%);
	}
	.formname{
		
	}
	.formname input{
		width:100%;
		padding:10px;
		margin-top:20px;
		border-color:1px solid silver
	}
	.formmsg textarea{
		margin-top:10px;
		width:100%;
		border-color:silver;
	
	}
	.sm{
		margin:30px 0px 20px 0px;
		text-align:center;
	}
	.sm a{
		
		padding:10px 20px 10px 20px;
		text-decoration:none;
		background-color:#428bca;
		color:white;
	}
@media(min-width:768px){
	.formname input{
		width:100%;
		border:1px solid silver;
	}
	.formmsg textarea{
		width:100%;
	}
	
}
@media(min-width:1024px){
	.ouraddress{
		width:25%;
	}
	.add{
		display:flex;
		justify-content:space-between;
	}
	.formname input{
		width:100%;
		border:1px solid silver;
		padding:15px;
		font-size:18px;
	}
	.formmsg textarea{
		width:100%;
		font-size:18px;
	}
}


/* address section ends */
/* links section starts */
.links{
	padding:30px 0px 30px 0px;
	background-color:#5c768d;
	color:white;
}
.call h1{
	font-size:20px;
	font-weight:600;
}
.call h3{
	font-size:18px;
	margin-top:20px;
}
.call p{
	font-size:18px;
	margin-top:20px;
}

.call iconify-icon{
	font-size:20px;
	margin-top:20px;
	padding:10px;
	border-radius:50%;
	background-color:#768fa6;
    color: #fff;
}
.useful ul, li{
	display:block;
		padding:10px;
}
.useful{
	margin-top:20px;
}
.useful h4{
	font-size:18px;
	font-weight:600;
}
.useful iconify-icon{
	font-size:20px;
}
.useful a{
	text-decoration:none;
	color:white;

	font-size:15px;
}
.news{
	margin-top:30px; 
}
.letter a{
	padding:10px;
	text-decoration:none;
	background-color:#428bca;
	color:white;
}
.letter{
	margin-top:20px;
}
.emailbox{
	padding:10px;
}
.news h4{
	font-size:18px;
	font-weight:600;
} 
@media(min-width:768px){
	
}
@media(min-width:1024px){
	.call{
		width:25%;
		margin-top:20px;
	}
	.useful{
		width:25%;
	}
	.news{
		width:38%;
	}
	.privacy{
		display:flex;
		justify-content:space-between;
	}
	.call h1{
		font-size:18px;
	}
	.call h3{
		font-size:15px;
	}
	.call p{
		font-size:16px;
	}
	.call iconify-icon{
		font-size:15px;
	}
	.useful h4{
		font-size:18px;
		font-weight:600;
	}
	.useful iconify-icon{
		font-size:16px;
	}
	.useful a{
		font-size:14px;
	}
}

/* links section ends*/
/* footer section starts */
    .footer{
		padding-top:30px;
		padding-bottom:30px;
		background-color:#5c768d;
		color:white;
	}
	.copy{
		text-align:center;
	}
	.copy p{
		font-size:16px;
		margin-bottom:10px;
	}
	.copy  a{
	    text-decoration:none;
		color:#9eccf4;;
	} 


/* footer section ends */

