	.color{
	    color:yellow;
		background-color:#FF0000;
	}
	.bg{
	    background-color:rgba(255, 0, 0, 0.1);
	}
	.ol{
		text-decoration: overline;
		text-decoration-color: red;
		text-decoration-style: solid;
	}

	.lt{
		text-decoration: line-through;
		text-decoration-color: blue;
		text-decoration-style: double;
		
	}

	.ul{
		text-decoration: underline;
		text-decoration-color: green;
		text-decoration-style: dotted;
		text-decoration-thickness:5px
	}

	.oul{
		  text-decoration: overline underline;
		  text-decoration-color: brown;
		  text-decoration-style: wavy;
		}
	
.center{
      text-align: center;
	  
}
.right{
      text-align:right;
}
.left{
      text-align:left;
}
.justify{
    border:1px solid black;
	width:20%;
	text-align:justify;
}
.ta {
  text-align-last: right;
  font-family: "Times New Roman", Times, serif;
}

.ta1 {
  text-align-last: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8;
}
.line{
    line-height: 1.8;
	 white-space: ;
}

.ta2{
  text-align-last: justify;
  font-family: "Lucida Console", "Courier New", monospace;
}
.dir{
  direction: rtl;
  unicode-bidi: bidi-override;
}
img.baseline{
  vertical-align: baseline;
}

.top{
  vertical-align: text-top;
}

img.bottom {
  vertical-align: text-bottom;
}

.sub{
  vertical-align: sub;
}

img.sup{
  vertical-align: super;
}
.upper {
  text-transform: uppercase;
  
  text-shadow: 2px 2px 5px green;
  font-size:25px;
}

.lower {
  text-transform: lowercase;

}

.cap {
  text-transform: capitalize;
  
}


























